.hero-unit
  .copy
    %h1 Transforming Technology Education.
    %h2 Codealong creates relationships between teachers and technology professionals.

    %p.btn.btn-info.btn-large.sign-up=link_to "Create a Free Account","/users/new"

  .hero-right
    =image_tag('main_image_students.png')

%section.looking-for
  %h1 I am looking for…
  .site-role-module
    %h2 A Programmer
    %p Looking for a web professional that can help your kids learn computer programming?
    %p.btn.btn-info Start Your Search »
  .site-role-module
    %h2 A Graphic Designer
    %p Need someone to help explain color theory, typography, and visual hierarchy?
    %p.btn.btn-info Start Your Search »
  .site-role-module
    %h2 A Web Designer
    %p Want a professional to help your students learn to create their own website?
    %p.btn.btn-info Start Your Search »

=render "shared/footer"