%h1.create Create an Account
%p.create-add-p Thanks for your interest in joining the codealong community. To create an account, simply fill out the form below. Remember: the more information you add to your account, the more helpful your matches will be.
= render 'form'

/= link_to 'Back', users_path
