
// Colors
$dark-blue: #20718a
$light-blue: #2fb6df


@import 'bootstrap'
@import 'typography'

body
  background: image_url('light_wool.png') top left repeat
  color: #444

.container
  padding: 20px
  background: #fff
  @include box-shadow(0 0 5px #ccc)
.navbar-inner
  background: #fff
  .logo
    a
      background: image_url('codealong-logo.png') 2px 4px no-repeat
      width: 147px
      height: 37px
      float: left
      text-indent: -9999px
  ul.nav
    float: right
    position: relative
    bottom: 20px
    li
      a
        color: $dark-blue
      &:hover
        color: $dark-blue - 15 !important
        background: none !important
.navbar .nav > li > a:hover
  color: $light-blue
  @include transition (0.7s)
  font-weight: 700
.hero-unit
  background: image_url('world_background.png')
  display: inline-block
  margin-bottom: 0
  .copy
    width: 40%
    float: left
    h1
      color: $dark-blue
      font-family: 'museo slab', Georgia, serif
      font-size: 3em
    h2
      font-weight: 300
      margin-bottom: 20px
    p.btn
      a
        color: #fff
        &:hover
          text-decoration: none
  .hero-right
    float: right
    img
      width: 400px
      margin-top: 15px
      @include box-shadow(3px 3px 5px #666)

.looking-for
  display: inline-block
  width: 100%
  text-align: center
  h1
    font-family: 'museo slab', Georgia, serif
    color: $light-blue
    text-align: center
    font-size: 3em
    margin: 0.8em 0

  .site-role-module
    float: left
    width: 28%
    margin-right: 2%
    padding: 20px 15px
    border: 1px solid #ccc
    text-align: center
    &:hover
      @include box-shadow(0 0 12px $light-blue + 70)
    &:last-child
      margin-right: 0
    h2
      text-align: center
      font-family: 'museo slab', Georgia, serif
      color: $dark-blue
      margin: 1em 0
    p
      margin: 1em 0
      text-align: left
    p.btn
      text-align: center



// Create account page

.container h1.create
  margin-left: 187px
  text-align: left
  font-family: 'museo-slab', Georgia, serif
  color: $dark-blue
.create-p
  width: 350px
  line-height: 1.4em
  margin: 1em 0 1em 187px
form#new_user
  margin-bottom: 20px
  div.input
    margin: 18px 0
    label
      float: left
      width: 180px
      text-align: right !important
      margin-top: 7px
      text-align: left
      margin-bottom: 5px
    abbr[title=required]
      border: none
      color: #d0366e
    input, textarea
      border: 1px solid #aaa
      padding: 5px 2px
      margin-left: 10px
      font-size: 15px
      width: 320px
      height: 25px
      @include border-radius(3px)

    textarea
      height: 80px
      margin-bottom: 40px
    input
      font-size: 19px
  input[type=submit]
    padding: 8px 25px
    background: #ccc
    margin-left: 190px
    color: #ffffff
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color: #49afcd
    *background-color: #2f96b4
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4))
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4)
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4)
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4)
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4)
    background-repeat: repeat-x
    border-color: #2f96b4 #2f96b4 #1f6377
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0)
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
    @include border-radius(3px)
    
  input[type=submit]:hover
  input[type=submit]:active,
  input[type=submit]:disabled,
  input[type=submit][disabled]
    color: #ffffff
    background-color: #000
    *background-color: #2a85a0

  input[type=submit]:active,
  input[type=submit]:active 
    background-color: #2478c9
    

// Footer

.footer
  text-align: center
  margin: 2em 0 1.5em 0
  